# React Vite build & dependencies
wesite/node_modules/
inventory_management/src/resource/application.properties
wesite/dist/

# Logs
wesite/npm-debug.log*
wesite/yarn-debug.log*
wesite/yarn-error.log*
wesite/pnpm-debug.log*

# Local environment files
wesite/.env
wesite/.env.local
wesite/.env.development.local
wesite/.env.test.local
wesite/.env.production.local

# Editor & system files
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/
*.swp
*.swo

# Optional cache
wesite/.cache/
